.accodion{
    width:500px;
    margin: 0 auto;
}

.accodion-trigger{
    margin: 0;
    padding: 10px;
    display: block;
    background: #333;
    color:#FFF;
    border-top: 1px solid #000;
}

.accordion-contents{
    margin:0;
    padding:10px;
    border:1px solid #CCC;
    display:none;
}